* {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  line-height: 76px;
}

.showMainBody p {
  margin: 10px 0;
}

.showMainBody li {
  margin: 10px 0;
}

.el-scrollbar__wrap {
  overflow-x: hidden;
}

.header-anchor {
  display: none;
}

hr {
  border: 1px solid #eaecef;
}

.z-tree .z-tree-itemBox-list {
  padding-left: 20px;
  overflow: hidden;
  display: block;
}

.z-tree .slide-fade-enter-active {
  transition: all .3s ease;
}

.z-tree .slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.z-tree .slide-fade-enter, .z-tree .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.z-tree img {
  width: 14px;
  height: 14px;
  display: inline-block;
}

.z-tree p {
  margin: 0;
  cursor: pointer;
}

.monthsBox {
  width: 600px;
  margin-top: 20px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.calendar-monthBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #e8f3ed;
  border: 1px black solid;
}

.calendar-monthBox .calendar-weekBox {
  height: 10%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px #c8cacc solid;
}

.calendar-monthBox .calendar-weekBox .calendar-week {
  width: calc(100% / 7);
  display: block;
  text-align: center;
  font-size: 14px;
  color: #9ea7b4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: white;
}

.calendar-monthBox .calendar-dateBox {
  height: 90%;
  width: 100%;
}

.calendar-monthBox .calendar-dateBox .calendar-dateBox-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px #eeeff0 solid;
  margin: 0;
  line-height: unset;
}

.calendar-monthBox .calendar-dateBox .calendar-dateBox-row .calendar-date {
  width: calc(100% / 7);
  height: 100%;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #5f6471;
  align-items: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
}

.calendar-monthBox .calendar-dateBox .calendar-dateBox-row .calendar-date p {
  width: 100%;
  margin: 0;
}

.calendar-monthBox .calendar-dateBox .calendar-dateBox-row .calendar-date p .calendar-dateL {
  color: #5f6471;
}

.calendar-monthBox .calendar-dateBox .calendar-dateBox-row .calendar-date p .calendar-dateL-remark {
  color: #9ea7b4;
}

.calendar-monthBox .calendar-dateBox .calendar-dateBox-row .calendar-date:hover {
  background-color: #14783c;
}

.calendar-monthBox .calendar-dateBox .calendar-dateBox-row .calendar-date:hover .calendar-dateL {
  color: white;
}

.calendar-monthBox .calendar-dateBox .calendar-dateBox-row .calendar-date:hover .calendar-dateL-remark {
  color: white;
}

.showMainBody table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  font-size: 14px;
  margin-bottom: 45px;
  line-height: 1.5em;
}

.showMainBody table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.showMainBody table tr th, .showMainBody table tr td {
  text-align: left;
  white-space: nowrap;
  color: #909399;
  font-weight: 400;
  border-bottom: 1px solid #dcdfe6;
  padding: 15px;
  max-width: 250px;
}

.fullScreen-mark {
  transition: all 0.3s;
}

.fullScreen-open {
  width: 100vw;
  height: 100vh;
  position: fixed;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(100, 100, 100, 0.3);
  z-index: 9;
  left: 0;
  top: 0;
}

.fullScreen-open .fullScreen-Content {
  position: absolute;
  border: white 1px solid;
  padding: 20px;
}

.z-btn-1 {
  --hue: 190;
  position: relative;
  padding: 10px 15px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #00aed1;
  border: 1px solid #00aed1;
  outline: transparent;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  transition: 0.25s;
}

.z-btn-1:hover {
  background: #00849e;
}

.z-btn-1-primary {
  --hue: 187;
}

.z-btn-1-ghost {
  color: #00aed1;
  background-color: transparent;
  border-color: #00aed1;
}

.z-btn-1-ghost:hover {
  color: white;
}

.z-btn-1-shine {
  color: white;
}

.z-btn-1-shine::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(0, 174, 209, 0.5), transparent);
  transform: translateX(-100%);
  transition: 0.6s;
}

.z-btn-1-shine:hover {
  background: transparent;
  box-shadow: 0 0 20px 10px rgba(0, 174, 209, 0.5);
}

.z-btn-1-shine:hover::before {
  transform: translateX(100%);
}

.z-btn-2 {
  --hue: 190;
  --ease-in-duration: 0.25s;
  --ease-in-exponential: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-out-duration: 0.65s;
  --ease-out-delay: var(--ease-in-duration);
  --ease-out-exponential: cubic-bezier(0.19, 1, 0.22, 1);
  position: relative;
  padding: 10px 15px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  background-color: #00aed1;
  border: 1px solid #00aed1;
  outline: transparent;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  transition: 0.25s;
}

.z-btn-2:hover {
  background: #00849e;
}

.z-btn-2-primary {
  --hue: 171;
}

.z-btn-2-ghost {
  color: white;
  background-color: transparent;
  border-color: #00aed1;
}

.z-btn-2-ghost:hover {
  color: white;
}

.z-btn-2-border-stroke {
  border-color: rgba(0, 174, 209, 0.35);
}

.z-btn-2-border-stroke .z-btn-borders {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.z-btn-2-border-stroke .z-btn-borders .z-btn-border-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background: #00aed1;
  transform: scaleX(0);
  transform-origin: left;
}

.z-btn-2-border-stroke .z-btn-borders .z-btn-border-right {
  position: absolute;
  right: 0;
  width: 1px;
  height: 100%;
  background: #00aed1;
  transform: scaleY(0);
  transform-origin: bottom;
}

.z-btn-2-border-stroke .z-btn-borders .z-btn-border-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #00aed1;
  transform: scaleX(0);
  transform-origin: left;
}

.z-btn-2-border-stroke .z-btn-borders .z-btn-border-left {
  position: absolute;
  left: 0;
  width: 1px;
  height: 100%;
  background: #00aed1;
  transform: scaleY(0);
  transform-origin: bottom;
}

.z-btn-2-border-stroke .z-btn-borders .z-btn-border-left {
  transition: var(--ease-out-duration) var(--ease-out-delay) var(--ease-out-exponential);
}

.z-btn-2-border-stroke .z-btn-borders .z-btn-border-bottom {
  transition: var(--ease-out-duration) var(--ease-out-delay) var(--ease-out-exponential);
}

.z-btn-2-border-stroke .z-btn-borders .z-btn-border-right {
  transition: var(--ease-in-duration) var(--ease-in-exponential);
}

.z-btn-2-border-stroke .z-btn-borders .z-btn-border-top {
  transition: var(--ease-in-duration) var(--ease-in-exponential);
}

.z-btn-2-border-stroke:hover {
  color: #00aed1;
  background: transparent;
}

.z-btn-2-border-stroke:hover .z-btn-border-top,
.z-btn-2-border-stroke:hover .z-btn-border-bottom {
  transform: scaleX(1);
}

.z-btn-2-border-stroke:hover .z-btn-border-left,
.z-btn-2-border-stroke:hover .z-btn-border-right {
  transform: scaleY(1);
}

.z-btn-2-border-stroke:hover .z-btn-border-left {
  transition: var(--ease-in-duration) var(--ease-in-exponential);
}

.z-btn-2-border-stroke:hover .z-btn-border-bottom {
  transition: var(--ease-in-duration) var(--ease-in-exponential);
}

.z-btn-2-border-stroke:hover .z-btn-border-right {
  transition: var(--ease-out-duration) var(--ease-out-delay) var(--ease-out-exponential);
}

.z-btn-2-border-stroke:hover .z-btn-border-top {
  transition: var(--ease-out-duration) var(--ease-out-delay) var(--ease-out-exponential);
}

.z-btn-3 {
  --hue: 190;
  --btn-bg-color: #ff3300;
  --btn-bg-color-darker: #e64d00;
  position: relative;
  padding: 10px 15px;
  font-size: 14px;
  font-family: Lato, sans-serif;
  color: white;
  text-decoration: none;
  background-color: var(--btn-bg-color);
  border: 1px solid var(--btn-bg-color);
  border-radius: 4px;
  box-shadow: 0 0.1px 0.7px rgba(233, 30, 99, 0.141), 0 0.1px 1.7px rgba(233, 30, 99, 0.202), 0 0.3px 3.1px rgba(233, 30, 99, 0.25), 0 0.4px 5.6px rgba(233, 30, 99, 0.298), 0 0.8px 10.4px rgba(233, 30, 99, 0.359), 0 2px 25px rgba(233, 30, 99, 0.5);
  outline: transparent;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  transition: 0.25s;
}

.z-btn-3-pink {
  --hue: 330;
}

.z-btn-3-bubbles {
  overflow: visible;
  transition: transform ease-in 0.1s, background-color ease-in 0.1s, box-shadow ease-in 0.25s;
}

.z-btn-3-bubbles::before {
  position: absolute;
  content: "";
  left: -2em;
  right: -2em;
  top: -2em;
  bottom: -2em;
  transition: ease-in-out 0.5s;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, var(--btn-bg-color) 20%, transparent 20%), radial-gradient(circle, var(--btn-bg-color) 20%, transparent 20%), radial-gradient(circle, transparent 20%, var(--btn-bg-color) 20%, transparent 30%), radial-gradient(circle, transparent 20%, var(--btn-bg-color) 20%, transparent 30%), radial-gradient(circle, transparent 20%, var(--btn-bg-color) 20%, transparent 30%), radial-gradient(circle, transparent 20%, var(--btn-bg-color) 20%, transparent 30%), radial-gradient(circle, var(--btn-bg-color) 20%, transparent 20%), radial-gradient(circle, transparent 20%, var(--btn-bg-color) 20%, transparent 30%), radial-gradient(circle, transparent 20%, var(--btn-bg-color) 20%, transparent 30%), radial-gradient(circle, var(--btn-bg-color) 20%, transparent 20%), radial-gradient(circle, transparent 20%, var(--btn-bg-color) 20%, transparent 30%), radial-gradient(circle, var(--btn-bg-color) 20%, transparent 20%), radial-gradient(circle, transparent 20%, var(--btn-bg-color) 20%, transparent 30%), radial-gradient(circle, var(--btn-bg-color) 20%, transparent 20%), radial-gradient(circle, var(--btn-bg-color) 20%, transparent 20%), radial-gradient(circle, var(--btn-bg-color) 20%, transparent 20%);
  background-size: 19% 19%, 15% 13%, 13% 18%, 17% 10%, 15% 20%, 17% 19%, 17% 17%, 20% 17%, 20% 10%, 14% 17%, 13% 14%, 12% 20%, 11% 13%, 15% 10%, 11% 20%, 10% 11%;
  background-position: 18% 40%, 20% 31%, 30% 30%, 40% 30%, 50% 30%, 57% 30%, 65% 30%, 80% 32%, 15% 60%, 83% 60%, 18% 70%, 25% 70%, 41% 70%, 50% 70%, 64% 70%, 80% 71%;
  animation: bubbles ease-in-out 0.75s forwards;
}

.z-btn-3-bubbles:active {
  transform: scale(0.95);
  background: var(--btn-bg-color-darker);
}

.z-btn-3-bubbles:active::before {
  animation: none;
  background-size: 0;
}

@keyframes bubbles {
  0% {
    background-position: 18% 40%, 20% 31%, 30% 30%, 40% 30%, 50% 30%, 57% 30%, 65% 30%, 80% 32%, 15% 60%, 83% 60%, 18% 70%, 25% 70%, 41% 70%, 50% 70%, 64% 70%, 80% 71%;
  }
  50% {
    background-position: 10% 44%, 0% 20%, 15% 5%, 30% 0%, 42% 0%, 62% -2%, 75% 0%, 95% -2%, 0% 80%, 95% 55%, 7% 100%, 24% 100%, 41% 100%, 55% 95%, 68% 96%, 95% 100%;
  }
  100% {
    background-position: 5% 44%, -5% 20%, 7% 5%, 23% 0%, 37% 0, 58% -2%, 80% 0%, 100% -2%, -5% 80%, 100% 55%, 2% 100%, 23% 100%, 42% 100%, 60% 95%, 70% 96%, 100% 100%;
    background-size: 0% 0%;
  }
}

.z-piechart {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  --gauge-color: #4ec0e9;
  --gauge-color-lighter: #a9e0f4;
  --percentage: calc(var(--gauge-value) / var(--gauge-max-value) * 100%);
  transition: all 5s;
  background: conic-gradient(var(--gauge-color) 0 var(--percentage), var(--gauge-color-lighter) 0 100%);
  counter-reset: value var(--gauge-value);
}

.z-piechart::before {
  position: absolute;
  content: counter(value);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  color: black;
  background: white;
  border-radius: inherit;
}
