.z-piechart {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  --gauge-color: #4ec0e9;
  --gauge-color-lighter: #a9e0f4;
  --percentage: calc(var(--gauge-value) / var(--gauge-max-value) * 100%);
  transition: all 5s;
  background: conic-gradient(var(--gauge-color) 0 var(--percentage), var(--gauge-color-lighter) 0 100%);
  counter-reset: value var(--gauge-value);
}

.z-piechart::before {
  position: absolute;
  content: counter(value);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  color: black;
  background: white;
  border-radius: inherit;
}
