.z-piechart {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  --gauge-color: hsl(196, 78%, 61%);
  --gauge-color-lighter:hsl(196, 78%, 81%);
  --percentage: calc(var(--gauge-value) / var(--gauge-max-value) * 100%);
  transition: all 5s;
  background: conic-gradient(var(--gauge-color) 0 var(--percentage),var(--gauge-color-lighter) 0 100%);
  counter-reset: value var(--gauge-value);
  &::before {
    position: absolute;
    content: counter(value);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    color: black;
    background: white;
    border-radius: inherit;
  }
  // &-firstAnimate {
  //   animation: render 2s ease-in infinite;
  //   animation-delay: 1s;
  //   &::before{
  //     content: unset;
  //   }
  // }
}

