.tabsBox {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.z-tabs {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}

.z-tabs .el-icon-arrow-right {
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 10px;
  cursor: pointer;
  color: #999999;
}

.z-tabs .el-icon-arrow-right::before {
  content: '>';
}

.z-tabs .el-icon-arrow-right.show {
  color: black;
}

.z-tabs .el-icon-arrow-left {
  position: absolute;
  top: 20px;
  left: 0;
  font-size: 10px;
  cursor: pointer;
  display: none;
}

.z-tabs .el-icon-arrow-left::before {
  content: '<';
}

.z-tabs .el-icon-arrow-left.show {
  display: block;
}

.z-tabs .z-tabs-title {
  height: 48px;
  line-height: 48px;
  border-bottom: 2px solid #888888;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
}

.z-tabs .z-tabs-title .z-tabs-title-box {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  transition: all .5s;
}

.z-tabs .z-tabs-title .z-tabs-title-bottom {
  width: 50px;
  height: 3px;
  background-color: #409eff;
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: all .5s;
}

.z-tabs .z-tabs-title-name {
  display: block;
  font-size: 14px;
  font-weight: 600;
  height: 100%;
  margin-left: 30px;
  cursor: pointer;
  white-space: nowrap;
  line-height: 48px;
}

.z-tabs .z-tabs-title-name.active {
  color: #409eff;
}

.z-tabs .z-tabs-title-name:first-of-type {
  margin-left: 0;
}

.z-tabs .z-tabs-content {
  margin-top: 12px;
}
